@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;1,400&display=swap');
@font-face {  
    font-family: 'Gamero';
    src: url('../fonts/Gamero.ttf') format('truetype'); 
}
*{
	margin: 0;
	padding: 0;
	border: none;
}
html{
	font-size: 18px;
}
body{
	color: #ffffff;
	font-family: "Nunito", sans-serif;
	font-weight: 300;
	background-color: #0C091D !important;
	line-height: 1.2;
}
.first{
	/*background-image: url(../img/first.jpg);*/
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;
	position: relative;
	padding: 0;
}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}
@media (max-width: 640px){
	.first-video{
		display: block;
	}
	.second-video{
		display: none;
	}
}
@media (min-width: 641px){
	.first-video{
		display: none;
	}
	.second-video{
		display: block;
	}
}
nav{
	background: radial-gradient(152.2% 256.6% at -5.92% 107.49%, rgba(127, 127, 127, 0.41) 0%, rgba(127, 127, 127, 0) 88.46%);
	backdrop-filter: blur(15px);
	border-radius: 16px;
	padding: 30px 0;
	z-index: 1;
}
a{
	color: #ffffff;
	text-decoration: none;
}
nav a{
	border-right: 1px solid #ffffff;
	padding: 0px 30px;
}
nav a:last-child{
	border-right: none;
}
a:not(.btn):hover{
	color: #B5E200;
}
h2, h3, h4{
	font-style: italic;
	text-transform: uppercase;
}
h2 span, h4 span{
	font-family: "Gamero";
	white-space: nowrap;
	font-style: normal;
}
.description{
	font-size: 24px;
}
.btn{
	color: #ffffff;
	background: linear-gradient(130.39deg, rgba(186, 187, 180, 0.63) -6.69%, #BABBB4 -6.68%, rgba(20, 20, 20, 0.04) 53.64%, #E2DAE2 102.69%);
	backdrop-filter: blur(11px);
}
.btn:hover{
	color: #ffffff;
	background: linear-gradient(130.39deg, rgba(181, 226, 0, 0.63) -6.69%, #B5E200 -6.68%, rgba(20, 20, 20, 0.04) 53.64%, #D600E2 102.69%);
	backdrop-filter: blur(11px);
}
.window{
	background: linear-gradient(104.3deg, rgba(163, 163, 163, 0) 15.4%, rgba(254, 255, 249, 0.2) 100.92%);
	border: 1px solid #7F7F7F;
	box-sizing: border-box;
	backdrop-filter: blur(94px);
	position: relative;
}
.window-leftlight{
	background: radial-gradient(152.2% 256.6% at -5.92% 107.49%, rgba(127, 127, 127, 0.41) 0%, rgba(127, 127, 127, 0) 88.46%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
	backdrop-filter: blur(11px);
}
.welcome{
	/*background-image: url("../img/welcome_background.svg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;*/
	position: relative;
}
/*.welcome .window::after{
	content: 'Airdrop';
	color: #B5E200;
	text-transform: uppercase;
	font-family: 'Gamero';
	position: absolute;
	font-size: 18px;
	line-height: 18px;
	top: -20px;
	width: 100px;
	text-align: center;
	left: calc(50% - 50px)
}*/
.list > div span{
	font-family: 'Gamero';
	position: relative;
	display: inline-block;
	/*width: 40px;*/
}
.list > div p{
	margin-top: 18px;
}
.school .list > div span{
	left: 9px;
}
.list > div span::before{
	position: absolute;
	left: -9px;
	bottom: -18px;
	z-index: -1;
}
.launch .list > div:nth-child(1) span::before{
	content: url("../img/li1.svg");
}
.launch .list > div:nth-child(2) span::before{
	content: url("../img/li2.svg");
}
.launch .list > div:nth-child(3) span::before{
	content: url("../img/li3.svg");
}
.estate .list > div:nth-child(1) span::before{
	content: url("../img/li11.svg");
}
.estate .list > div:nth-child(2) span::before{
	content: url("../img/li12.svg");
}
.school .list > div:nth-child(1) span::before{
	content: url("../img/li21.svg");
}
.school .list > div:nth-child(2) span::before{
	content: url("../img/li22.svg");
}
.school .list > div:nth-child(3) span::before{
	content: url("../img/li23.svg");
}
.crowd .window p{
	position: relative;
}
.crowd .window p::before{
	content: url("../img/windowarrow.svg");
	position: absolute;
	top: calc(50% - 23px);
	left: -9px;
}
.stock h2 span, .sources h2 span{
	font-family: "Nunito", sans-serif;
	white-space: initial;
	font-style: italic;
}
.sources .window span{
	width: 60px;
	font-family: "Gamero";
}
.sources .sources-row > div{
	padding-bottom: 54px !important;
}
.sources .container > p{
	margin-top: 100px !important;
}
.sources .window::after{
	content: url("../img/vector.svg");
	position: absolute;
	bottom: -82px;
	left: 50%;
	width: 1px;
}
.sources .sources-row{
	position: relative;
}
.sources .row::before{
	content: '';
	position: absolute;
	bottom: -22px;
	left: calc(12.5% + 5px);
	width: 75%;
	height: 0;
	border-bottom: 2px solid #D600E2;
}
.sources .row::after{
	content: url("../img/vector.svg");
	position: absolute;
	bottom: -103px;
	left: calc(50% - 1px);
}
.map::-webkit-scrollbar {
	background-color: #B5E299;
}
.map::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    border-radius: 6px;
}
.map > div{
	position: relative;
}
.map > div::after{
	content: url(../img/maparrow.svg);
	position: absolute;
	top: calc(50% - 15px);
	right: 8px;
}
.finish{
	position: relative;
}
.finish::before{
	content: "Airdrop";
	position: absolute;
	text-transform: uppercase;
	font-family: "Gamero";
	color: #00E23F;
	background: radial-gradient(152.2% 256.6% at -5.92% 107.49%, rgba(127, 127, 127, 0.41) 0%, rgba(127, 127, 127, 0) 88.46%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
	backdrop-filter: blur(15px);
	border-top-left-radius: 28px;
	border-top-right-radius: 28px;
	top: -46px;
	left: 4%;
	z-index: -1;
	padding: 10px 60px;
	border: 2px solid #656565;
}
footer, footer a{
	font-size: 12px;
}
.rounded{ /* переопределил класс бутстрапа */
	border-radius: 11px !important;
}
.px-6{ /* дополнил бутстрап */
	padding-left: 4rem !important;
	padding-right: 4rem !important;
}
.tower{
	position: relative;
}
@keyframes towerlight {
    0% {opacity: 0.7}
    50% {opacity: 0}
    100% {opacity: 0.7}
}
.tower::after, .tower::before{
	content: "";
	position: absolute;
	animation: 4s towerlight infinite ease;
	overflow: hidden;
	z-index: 1;
	width: 300px;
	height: 300px;
	opacity: 0.4;
	filter: blur(250px);
}
.metamarket .tower::after{
	top: 0;
	left: 25%;
	background-color: rgba(0, 226, 63, 0.4);
}
.metamarket .tower::before{
	bottom: 0;
	right: 25%;
	background-color: rgba(226, 0, 198, 0.4);
	animation-duration: 2s;
}
.launch .tower::after{
	top: 0;
	right: 25%;
	background-color: rgba(0, 213, 226, 0.4);
}
.launch .tower::before{
	bottom: 0;
	right: 25%;
	background-color: rgba(226, 0, 198, 0.4);
	animation-duration: 2s;
}
.crowd .tower::after{
	top: 0;
	right: 25%;
	background-color: rgba(233, 77, 16, 1);
}
.estate .tower::after{
	top: 0;
	right: 0;
	background-color: rgba(181, 266, 0, 0.7);
}
.school .tower::after{
	top: 0;
	right: 25%;
	background-color: rgba(214, 0, 226, 0.9);
}
/*@media (max-width: 1400px){
	.sources .window::before{
		display: none;
	}
	.sources .window::after{
		display: none;
	}
	.sources .row::before{
		display: none;
	}
	.sources .row::after{
		display: none;
	}
}*/
@media (max-width: 992px){
	nav a{
		border-right: none;
	}

	.sources .row::before{
		display: none;
	}
	.sources .row::after{
		display: none;
	}
	.sources .window::after{
		display: none;
	}
	.sources .sources-row > div{
		padding-bottom: initial !important;
	}
	.sources .container > p{
		margin-top: 36px !important;
	}
}

.py-6{
	padding-top: 5rem !important;
	padding-bottom: 5rem !important;
}


html, body {
  height: 100%;
}
body {
  background: black;
  min-height: 100%;
}

canvas{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -2;
}