@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;1,400&display=swap');
@font-face {  
    font-family: 'Gamero';
    src: url('../fonts/Gamero.ttf') format('truetype'); 
}
*{
	margin: 0;
	padding: 0;
	border: none;
}
html{
	font-size: 18px;
}
body{
	color: #ffffff;
	font-family: "Nunito", sans-serif;
	font-weight: 300;
	background-color: #010101;
}
.first{
	background-image: url(../img/first.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;
	position: relative;
	padding: 0;
}
nav{
	background: radial-gradient(152.2% 256.6% at -5.92% 107.49%, rgba(127, 127, 127, 0.41) 0%, rgba(127, 127, 127, 0) 88.46%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
	backdrop-filter: blur(15px);
	border-radius: 16px;
	padding: 30px 0;
}
a{
	color: #ffffff;
	font-family: "Nunito", sans-serif;
	font-size: 18px;
	text-decoration: none;
}
nav a{
	border-right: 1px solid #ffffff;
	padding: 0px 30px;
}
nav a:last-child{
	border-right: none;
}
h2, h3, h4{
	font-style: italic;
	text-transform: uppercase;
	font-weight: 300;
}
h2 span{
	font-family: "Gamero";
	font-weight: 400;
	font-style: normal
}
.description{
	font-size: 24px;
}
.btn{
	color: #ffffff;
	background: linear-gradient(130.39deg, rgba(186, 187, 180, 0.63) -6.69%, #BABBB4 -6.68%, rgba(20, 20, 20, 0.04) 53.64%, #E2DAE2 102.69%);
	backdrop-filter: blur(11px);
}
.btn:hover{
	color: #ffffff;
	background: linear-gradient(130.39deg, rgba(181, 226, 0, 0.63) -6.69%, #B5E200 -6.68%, rgba(20, 20, 20, 0.04) 53.64%, #D600E2 102.69%);
	backdrop-filter: blur(11px);
}
.window{
	background: linear-gradient(104.3deg, rgba(163, 163, 163, 0) 15.4%, rgba(254, 255, 249, 0.2) 100.92%);
	border: 1px solid #7F7F7F;
	box-sizing: border-box;
	backdrop-filter: blur(94px);
	position: relative;
}
.window-leftlight{
	background: radial-gradient(152.2% 256.6% at -5.92% 107.49%, rgba(127, 127, 127, 0.41) 0%, rgba(127, 127, 127, 0) 88.46%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
	backdrop-filter: blur(11px);
}
.welcome .window::before{
	content: "";
	position: absolute;
	top: -27px;
	left: 54px;
	background-color: #010101;
	border-radius: 11px;
	border: 1px solid rgb(127, 127, 127);

	width: 178px;
	height: 56px;
}
.welcome .window::after{
	content: 'Airdrop';
	color: #B5E200;
	text-transform: uppercase;
	font-family: 'Gamero';
	position: absolute;
	font-size: 36px;
	line-height: 0px;
	top: -0px;
	left: 54px;
	background-color: #010101;
	padding: 0 18px;
	width: 180px;
	height: 36px;
}
.list > div span{
	font-family: 'Gamero';
	position: relative;
}
.list > div span::before{
	position: absolute;
	left: -9px;
	bottom: -18px;
	z-index: -1;
}
.launch .list > div:nth-child(1) span::before{
	content: url("../img/li1.svg");
}
.launch .list > div:nth-child(2) span::before{
	content: url("../img/li2.svg");
}
.launch .list > div:nth-child(3) span::before{
	content: url("../img/li3.svg");
}
.estate .list > div:nth-child(1) span::before{
	content: url("../img/li11.svg");
}
.estate .list > div:nth-child(2) span::before{
	content: url("../img/li12.svg");
}
.school .list > div:nth-child(1) span::before{
	content: url("../img/li21.svg");
}
.school .list > div:nth-child(2) span::before{
	content: url("../img/li22.svg");
}
.school .list > div:nth-child(3) span::before{
	content: url("../img/li23.svg");
}

.crowd .window p{
	position: relative;
}
.crowd .window p::before{
	content: url("../img/windowarrow.svg");
	position: absolute;
	top: calc(50% - 23px);
	left: -9px;
}
.stock h2 span, .sources h2 span{
	font-family: "Nunito", sans-serif;
}
.sources .window::before{
	content: url("../img/vector.svg");
	position: absolute;
	top: -77px;
	left: 50%;
	/*height: 60px;*/
	width: 1px;
}
.sources .window::after{
	content: url("../img/vector2.svg");
	position: absolute;
	bottom: -28px;
	left: 50%;
	/*height: 60px;*/
	width: 1px;
}
.sources .sources-row{
	position: relative;
}
.sources .sources-row::before{
	content: '';
	position: absolute;
	top: -72px;
	left: calc(12.5% + 5px);
	width: 75%;
	height: 0;
	border-top: 2px solid #D600E2;
}
.sources .row::after{
	content: '';
	position: absolute;
	bottom: -16px;
	left: calc(12.5% + 5px);
	width: 75%;
	height: 0;
	border-bottom: 2px solid #D600E2;
}

.map::-webkit-scrollbar {
	width: 3px;
	background-color: #B5E299;
}
.map::-webkit-scrollbar-thumb {
    background-color: #010101;
    border-radius: 6px;
}
.map > div{
	position: relative;
}
.map > div::after{
	content: url(../img/maparrow.svg);
	position: absolute;
	top: calc(50% - 15px);
	right: 8px;
}
footer, footer a{
	font-size: 12px;
}

@media (max-width: 1400px){
	.sources .window::before{
		display: none;
	}
	.sources .window::after{
		display: none;
	}
	.sources .row::before{
		display: none;
	}
	.sources .row::after{
		display: none;
	}
}

@media (max-width: 992px){
	nav a{
		border-right: none;
	}
}

@media (max-width: 576px){
	.brlg{
		display: none;
	}
}

/*video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	height: 100%;
	object-fit: cover;
}*/


/*Переопределение стилей bootstrap*/
.rounded{
	border-radius: 11px !important;
}


/*Дополнение)*/
.px-6{
	padding-left: 4rem !important;
	padding-right: 4rem !important;
}

/*Подсветка башень анимированная*/
.tower img{
	position: relative;
}
.tower{
	position: relative;
}
.tower img{
	object-fit: contain;
	object-position: center center;
	height: 100%;
	max-height: 100%;
}
@keyframes towerlight {
    0% {opacity: 25%;}
    50% {opacity: 0%;}
    100% {opacity: 25%;}
}
.tower::after, .tower::before{
	position: absolute;
	animation: 3s towerlight infinite ease;
	overflow: hidden;
	z-index: 1;
}
.metamarket .tower::after{
	content: url(../img/towerlight_metamarket1.svg);
	bottom: 0;
	right: 0;
}
.metamarket .tower::before{
	content: url(../img/towerlight_metamarket2.svg);
	bottom: -50%;
	right: 0;
	animation-duration: 2.5s;
}
.launch .tower::after{
	content: url(../img/towerlight_metamarket2.svg);
	top: 0;
	left: 0;
}
.launch .tower::before{
	content: url(../img/towerlight_launch2.svg);
	bottom: 0;
	right: 0;
	animation-duration: 2.5s;
}
.crowd .tower::after{
	content: url(../img/towerlight_crowd.svg);
	bottom: 30%;
	right: 0;
}
.estate .tower::after{
	content: url(../img/towerlight_estate.svg);
	bottom: 0;
	left: 0;
}
.school .tower::after{
	content: url(../img/towerlight_metamarket2.svg);
	bottom: 0;
	right: 0;
}